# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
 - List popular languages for Data Science 
 - List common libraries used by  Data Scientists 
 - List common Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. dplyr 
2. dplyr 
3. ggplot 
4. caret

| Data Science Tools |
|--------------------|
| MySQL              |
| Jupyter IDE.       |
| Spark SQL          |
| PixieDust          |
| Kubernetes         |
| IBM Fairness 360   |
| GitHub             |
| Egeria             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integrers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ahmad Bukhari